{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Classroom Details
  </div>
  <div class="card-body">
    <h5 class="card-title display-4" style="color: 000034;">{{classroom.name}} {{classroom.subject}}</h5>
    <p class="card-text display-4" style="color: 000034;">{{classroom.year}}</p>
    <table class="table table-striped">	
	  <tr>
	    <th>Name</th>
	    <th>Date of Birth</th>
	    <th>Gender</th>
	    <th>Exam Grade</th>
	    <th></th>
	    <th></th>
	  </tr>
	  {% for student in students%}
	  	<tr>
	  	<td>{{student.name}}</td>
	  	<td>{{student.date_of_birth}}</td>
	  	<td>{{student.gender}}</td>
	  	<td>{{student.exam_grade}}</td>
	  	{%if request.user == classroom.teacher  %}
	  	 <td><a href="{% url 'student-update' classroom.id student.id  %}" class="btn btn-outline-primary" ">Update student</a></td>
	  	 <td><a href="{% url 'student-delete' classroom.id student.id  %}" class="btn btn-outline-danger" ">Delete student</a></td>
	  </tr>
	  {%endif%}
	  {%endfor%}
	</table>
	{% if request.user == classroom.teacher %}
    <a href="{% url 'student-create' classroom.id %}" class="btn btn-outline-success" ">Create student</a>
    <a href="{% url 'classroom-update' classroom.id %}" class="btn btn-outline-primary" ">Update</a>
    <a href="{% url 'classroom-delete' classroom.id %}" class="btn btn-outline-danger">Delete</a>
    {%endif%}
  </div>
</div>

{% endblock content %}
